<div class="container-body">

  <div class="container">

    <div class="text-wrapper">

      <div class="text-wrapper-time">

        <span>10 April, Tue</span>

      </div>

      <div class="text-wrapper-task-count">

        <span> You have {{ taskArray.length}} Tasks  </span>

      </div>

    </div>

    <div class="task-list">
      
      <div class="task-alert" [ngStyle]="{ display: taskAlert }"  >

        Tasks Appear Here.<br>
        Add Some.

      </div>

      <div 

        class="task-list-container"  
        *ngFor="let item of taskArray; let i = index"  
        [class.task-list-highlight] = "item.readOnly"
        [class.remove-task] = "item.checkBox">

        <span 

          class="material-symbols-outlined"   
          (click)="checkboxRemove(item)" 
          [innerHTML]="checkboxCheck(item)">

        </span>

        <span 

          class="material-symbols-outlined"  
          (click) = "readonlyStatus(item)" 
          [innerHTML]="editTask(item)"
          >

        </span>

        <input

          type="text"
          class="task-list-container-text"
          [class.task-list-text-highlight] = "item.readOnly"
          [value]="item.text"
          maxlength="25"
          [readOnly]="!item.readOnly"

        />
      </div>

    </div>

    <div class="add-todo-list">

      <div

        class="{{ originalSize }} {{ inputSize }} checkclick"
        (click)="appearInput()"
      >
        <span

          class="material-symbols-outlined"
          [ngStyle]="{ display: spanDisplay }"
        >
        {{ spanButton }}

        </span>

        <div

          class="dot-addtask-form"
          [ngStyle]="{ display: formDisplay }"

        >

          <input

            #inputText
            type="text"
            class="dot-addtask-input"
            (keyup.enter) = "addTask(inputText)"
            placeholder="Add Task."
            maxlength="25"

          />

          <button 
          type="button"  
          (click)="addTask(inputText)"
          class="dot-addtask-button"  >

            <span class="material-symbols-outlined"> add </span>

          </button>

        </div>

      </div>

    </div>

  </div>

</div>
